* {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}
html {
    color-scheme: dark light;
}
body {
    min-height: 100vh;
}
img, picture, svg, video {
    display: block;
    max-width: 75%;
}
img {
    margin-left: 25px;
}
p {
    transform: matrix(1, -0.3, 1, 5, 5, 0);
  }
 video {
    width: 100%;
    aspect-ratio: 16/9;
 }
h1 {
    text-align: center;
    font-size: 4rem;
}

#menu-bar li {
    display:inline;
}
.menu-bar {
    display: inline;
}